# Package Manager Files
*/vendor
*/node_modules

# Testing Files
.phpunit.result.cache

# Build Files
*/dist
*tsconfig.app.tsbuildinfo
*tsconfig.node.tsbuildinfo

# Environment Files
.env
.env.prod
!.env.example